/* Put your CSS BELOW here */



/* Put your CSS ABOVE here */

/*

body {
  background-color: lavender;
}

main {
  max-width: 40rem;
  background-color:blanchedalmond;
padding: 1em;
  margin: 1rem;
}

article {
  background-color: white;
}

.other {
  border: double blue 3rem;
  padding-left: 0.5rem;
}

.one {
  border: dashed green 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

header {
  background-color: black;
  color: white;
}

*/

