{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Forbidden</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="If you got here, then you did it wrong!">
{% endblock %}

{% block header %}
    <h1>Forbidden</h1>
{% endblock %}

{% block main %}
    <h2>You must be logged in to perform this operation or see this information.</h2>
{% endblock %}