{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Log Off Complete!</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="If you got here, then you did it right!">
{% endblock %}

{% block header %}
    <h1>Goodbye!!</h1>
{% endblock %}

{% block main %}
    <h2>Come Back Soon!!</h2>
{% endblock %}
