{% extends "base.njk" %}

{% block metaStuff %}
    <title>East Bay Jewelry Makers Club</title>
{% endblock %}
    
{% block main %}
    <h1>Hello From {{name}}</h1>
    <h2>NetID: {{id}}</h2>
    <h2>This page has been visited {{visits}} times!</h2>

{% endblock %}