{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Invalid Login</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="If you got here, then you did it wrong!">
{% endblock %}

{% block header %}
    <h1>Invalid Login</h1>
{% endblock %}

{% block main %}
    <h2>Something Went Wrong!!</h2>
    <h3>Please try again or contact the club administrator</h3>
{% endblock %}
