{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Login</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="This is the members login page for the East Bay Jewelry Makers Club">
{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block main %}
    <section class="gridContainer bordered">
        <form action="memberLogin" method="post" class="form-login">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" minlength="4" maxlength="32" required>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="8" maxlength="32" required>
            <button type="submit">Sign in</button>
        </form>
    </section>
    <br>
{% endblock %}
