{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Sign Up</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="This is membership sign up page for the East Bay Jewelry Makers Club">
{% endblock %}

{% block header %}
    <h1>Sign Up</h1>
{% endblock %}

{% block main %}
    <section class="gridContainer bordered">
        <form action="membershipSignup" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" minlength="1" maxlength="50" required>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" minlength="4" maxlength="32" required>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="8" maxlength="32" required>
            <label for="how">How did you hear about us?: </label>
            <select name="how" id="how">
                <option value="google">Google</option>
                <option value="friend">Friend</option>
                <option value="site">Other Website</option>
            </select>
            <label for="comments">Comments: </label>
            <input type="text" name="comments" id="comments" minlength="0" maxlength="50">
            <button type="submit">Signup</button>
            
        </form>
    </section>
    <br>
{% endblock %}
