{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Signup Complete!</title>
    <meta name="author" content="Adam Boyd">
    <meta name="description" content="If you got here, then you did it right!">
{% endblock %}

{% block header %}
    <h1>Thanks for signing up!!</h1>
{% endblock %}

{% block main %}
    <h2>Your Information</h2>
    <p>Name: {{info.name}}</p>
    <p>Email: {{info.email}}</p>
    <p>Source: {{info.how}}</p>
    <p>Comments: {{info.comments}}</p>
{% endblock %}

